# Исключаем артефакты Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем файлы виртуального окружения
venv/
env/
.env

# Исключаем файлы логов
*.log

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем файлы операционной системы
.DS_Store
Thumbs.db