version: '3.8'

services:
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  mongo:
    image: "mongo:6.0"
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  sentio-engine:
    build:
      context: ./sentio_engine
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - redis
      - mongo

volumes:
  mongo_data:
